@import "~materialize-css/dist/css/materialize.min.css";

::-webkit-scrollbar {
    width: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #16161a;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrap {
    width: 720px;
    margin: 0 auto;
}

.action {
    display: flex;
}

.action__line {
    position: relative;
    padding: 0 64px;
}

.line {
    height: 100%;
    width: 4px;
    background-color: #2cb67d;
}

.action__time-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 24px 0;
}

.action__time {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #16161a;
    border: 2px solid #2cb67d;
    color: #fffffe;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    user-select: none;
}

.action__body {
    padding: 24px 0;
    min-height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    max-width: 100%;
}

.action__title {
    font-family: sans-serif;
    font-size: 24px;
    color: #fffffe;
    user-select: none;
}

.action__description {
    margin-top: 8px;
    font-family: sans-serif;
    font-size: 16px;
    color: #fffffe;
    user-select: none;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.category {
    border: 1px #2cb67d solid;
    border-radius: 6px;
    padding: 4px 8px;
    margin-right: 8px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fffffe;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.4s ease;
    user-select: none;
}

.category:hover {
    background-color: #2cb67d;
}

.ask .action__time {
    font-size: 48px;
    background-color: #2cb67d;
    border-color: #16161a;
    color: #16161a;
    font-weight: bold;
}

.ask .action__time-wrap {
    padding-top: 0;
}

.ask .action__body {
    padding-top: 0;
}

.ask .action__title {
    color: #2cb67d;
}

.input {
    font-family: sans-serif;
    background: transparent;
    color: #fffffe;
    font-size: 18px;
    min-width: 64px;
    padding-bottom: 4px;
    margin-bottom: 0 !important;
}

.input-wrap {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.input-btn {
    width: 42px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #fffffe;
    border: none;
    margin-left: 8px;
    transition: all 0.4s ease;
    cursor: pointer;
    border: 1px solid #2cb67d;
    margin-right: auto;
}

.input-btn:hover {
    background-color: #2cb67d;
}

.input.active {
    border-color: #2cb67d;
}

.ask-label {
    margin-top: 12px;
    color: #fffffe;
    font-size: 18px;
}

.description-wrap {
    align-items: flex-end;
}

.ask__description {
    min-width: 180px;
}

.disactive {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
}

.logout-btn {
    padding: 8px;
    margin-left: auto;
    color: #fffffe;
    font-size: 22px;
    margin-right: 16px;
    transition: 0.4s all ease;
    cursor: pointer;
}

.logout-btn:hover {
    color: #2cb67d;
}